<!-- Site footer -->
<footer class="footer">
	<small>
		<strong>
			<a href="Sancocho"></a>
		</strong>
	</small>
	<nav>
		<ul>
	  	<p>
	  		<%= link_to "About", '#' %> &copy; 2019 Company, Inc.
	  	</p>
		</ul>
	</nav>
</footer>
